{% extends 'core/base.html' %}
{% load static %}
{% block title %}Contacto{% endblock %}
{% block background %}{% static 'core/img/contact-bg.jpg' %}{%endblock %}
{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Inversiones</span>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Inversiones en mercado cripto y forex, en futuros.
        Dependiendo de las condiciones del cliente(RIESGO QUE ESTÁ DISPUESTO A ASUMIR)
        y las circunstancias del mercado,se harán una cantidad u otra de operaciones al mes o trimestre,
        se hará una gestión mas o menos arriesgada de las operaciones que se hagan...
        Decisiones las cuales serán tomadas por un grupo de analistas y traders(¿Personas?).
        </p>
        <br>
        <p><b>Teléfono:</b> +09 876 543 210</p>
        <p><b>Rentabilidad:</b> 13% al mes(rent base)</p>
    </div>
</div>
{% endblock %}